

.navbar {
  background-color: #a2c1fd;
  height: 30px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(15px + 2vmin);
  color: white;
}
.box{
  background-color: #ffffff;
  height: 30px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  display: inline;
  flex-direction: row;
}
.name{ 
  margin: 5px;
  text-align: start;
  display: inline-flex;
  color: rgb(77, 118, 255);
}
.date{
  padding: 3px;
  text-align: center;
  display: inline-flex;
  color: green;
}
.time{
  text-align: end;
  display: inline-flex;
  color: black;
}
.nameonteam{
  display: inline;
  margin: 5px;
}

.teamname{
background-color: #61b15a;
color: white;
font-size: 25px;
border-radius: 3px;
}
.workposition{
  display: inline-flex;
  text-align: center;
  margin: 5px;

}
.timeteam{
  display: inline;
  margin: 5px;
  text-align: end;
}

.phone{
color: #61b15a;
  font-size: 25px;
}
.cardheader{
border-bottom-color: black;
  background-color: #dce7fd;
}

.departurTimeArrival{
  color: #036A9E;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */