

.navbar {
  background-color: #a2c1fd;
  height: 30px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(15px + 2vmin);
  color: white;
}
.box{
  background-color: #ffffff;
  height: 30px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  display: inline;
  flex-direction: row;
}
.name{ 
  margin: 5px;
  text-align: start;
  display: inline-flex;
  color: rgb(77, 118, 255);
  width: 150px;
}
.date{
  padding: 3px;
  text-align: center;
  display: inline-flex;
  color: green;
  width: 160px;
}
.time{
  text-align: end;
  display: inline-flex;
  color: black;
  width: 85px;
}
.nameonteam{
  display: inline;
  margin: 5px;
}

.teamname{
background-color: #61b15a;
color: white;
font-size: 25px;
border-radius: 3px;
}
.workposition{
  display: inline-flex;
  text-align: center;
  margin: 5px;

}
.timeteam{
  display: inline;
  margin: 5px;
  text-align: end;
}

.phone{
color: #61b15a;
  font-size: 25px;
}

.traininfo{
  background-color: rgb(221, 221, 221);
}
.activity{
  display: flex;
  border-width: 10ch;
  border-color: #61b15a;
  font-size: 20px;
  margin: 5px;
  color: rgb(0, 140, 255);
  background-color: rgb(235, 250, 240);
 
}

.activityname{
  text-align: start;
  font-weight: bold;
}
.cleantime{
  display: inline-block;
  width: 30%;
  text-align: center;
  color: black;
}
.cleantimestartend{
  display: inline-block;
  width: 35%;
  text-align: end;
  color: rgb(0, 140, 255);
  font-weight: bold;
}
.arrivaltimetitle{
  display: inline-block;
  width: 48%;
  margin-left: 5px;
  text-align: start;
  color: rgb(38, 98, 148);
  font-weight: bold;
  font-size: 18px;

}
.departuretimetitle{
  display: inline-block;
  width: 48%;
  text-align: end;
  color: rgb(38, 98, 148);
  font-weight: bold;
  font-size: 18px;
}
.arrivaltime{
  display: inline-block;
  text-align: start;
  width: 200px;
  margin-left: 10px;
  color: #61b15a;
  font-weight: bold;
  font-size: 18px;
}
.departuretime{
  display: inline-block;
  text-align: end;
  width: 190px;
 color: #61b15a;
 font-weight: bold;
 font-size: 18px;


}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */